<body class="bg-white">
    <div class="navbar">
      <%= link_to "/" do %>
        <div class="blur navbar-font icon-div">
          <p><%= image_tag "back.svg" %>
          back home</p>
        </div>
      <% end %> 
      <p class="navbar-font green"> dolorem ipsum</p>
    </div>
      <p class="about-text container-narrow"><em>Lorem ipsum</em> is a proxy of a text, a placeholder, to not be understood by the reader. Its role is one of a stand-in, taking up space, to be replaced with meaning in a later moment of time. It is meant for designing without content, layouts with no meaning. The commonly used version of this text is derived from a version of a text by roman philosopher Cicero from 1BC, <em>De finibus bonorum et malorum</em>. Though altered to a pseudo-latin, by adding and changing words, it still remains to be somewhat translatable. In fact, <em>Lorem ipsum</em> is more than it seems to be: it is more than a proxy, it is a text with meaning.
      <br>
      <br>
      By performance of a body, new versions of the original text are created. This page is an online database of these newly rendered versions of <em>Lorem Ipsum</em>. If you decide to reconsider your implementations of <em>Lorem Ipsum</em>, these are free to use under Creative Commons License. 
      <br>
      <br>
      Tag me on Instagram <a href="https://instagram.com/luziedeubel" target="_blank">@luziedeubel</a>
      </p>
</body>
