.content {
  display: flex;
  align-items: center;
  height: 100%;
}


.footer {
  flex-shrink: 0;
  padding-bottom: 0px !important;
  padding-top: 36px;
}

.container-wide {
	margin: 0px 80px 0px 80px;
}

.container-narrow {
	margin: 0px 80px 0px 80px;
	width: 50vw;
	padding-bottom: 150px;
}

.about-text {
	font-family: "Arial Narrow", "Arial", "sans-serif";
 	font-size: 30px;
 	line-height: 40px;
 	color: black;
}

.icon-div {
	display: flex;
}

.background-green {
	background-color: $green;
}

.bg-white {
	body {
	background-color: white !important;
	height: 100vh;
	}
}

@media only screen and (max-width: 600px) {
	.content {
	height: 200%;
	}
	.about-text {
 	font-size: 22px;
 	line-height: 30px;
	}
	.container-narrow {
	margin: 0px 20px 0px 20px;
	width: 90%;
	padding-bottom: 150px;
	}
	.container-wide {
	margin: 0px 20px 0px 20px;
	}
} 