.content {
  display: flex;
  align-items: center;
  height: 100vh;
}


.footer {
  flex-shrink: 0;
  padding-bottom: 0px !important;
  padding-top: 36px;
}

.container-wide {
	margin: 0px 80px 0px 80px;
}

.container-narrow {
	margin: 0px 80px 0px 80px;
	width: 50vw;
	padding-bottom: 50px;	
}

.icon-div {
	display: flex;
}

.background-green {
	background-color: $green;
}