.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-font {
  font-family: "Arial Narrow", "Arial", "sans-serif";
  font-size: 48px;
  text-decoration: none;
  color: black;
}
