.navbar {
  justify-content: space-between;
  margin: 0px 80px 0px 45px;
  padding-bottom: 36px;
  a {
    text-decoration: none;
  }
  button {
    text-decoration: none;
  }
}

.blur {
  :hover {
  text-decoration: underline !important;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-font {
  font-family: "Arial Narrow", "Arial", "sans-serif";
  font-size: 48px;
  text-decoration: none;
  color: black;
  a {
    text-decoration: none;
  }
}

.red {
  color: $red;
}


.green {
  color: #14FF00 !important;
}

@media only screen and (max-width: 600px) {
  .navbar {
    justify-content: space-between;
    margin: 0px 20px 0px 20px;
    padding-bottom: 20px;
  }
  .navbar-font {
  font-size: 30px;
  line-height: 36px;
  }
}
