.navbar {
  justify-content: space-between;
  margin: 0px 80px 0px 45px;
  a {
    text-decoration: none;
  }
}

.blur {
  :hover {
  filter:blur(6px);
  transition: 0.4s;
  color: black;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-font {
  font-family: "Arial Narrow", "Arial", "sans-serif";
  font-size: 48px;
  text-decoration: none;
  color: black;
  a {
    text-decoration: none;
  }
}

.red {
  color: $red !important;
}
