@import "navbar";

.textblock {
	font-family: "Arial Narrow", "Arial", "sans-serif";
 	font-size: 38px;
 	line-height: 50px;
 	color: black;
}

@media only screen and (max-width: 600px) {
	.textblock {
 	font-size: 22px;
 	line-height: 30px;
	}
}
