<div class="navbar">
  <div class="blur">
    <%= image_tag "link.png" %>
    <%= link_to " about", "/about", class: "navbar-font" %>
  </div>
  <p class="navbar-font red"> lorem ipsum</p>
</div>
<p class="textblock container-wide">
  <%= @text.content %>
</p>
